.item {
  display: flex;
  align-items: center;
  border: 2px solid rgb(84, 189, 93);
  border-radius: 32px;
  padding: 17px;
  margin-bottom: 10px;
  justify-content: space-between;
  background-color: #e6eef7;
}
.textWrapper {
  display: flex;
}

.title {
  font-size: 32px;
}

.text {
  margin-right: 15px;

  font-size: 24px;
  font-weight: 500;
}

.button {
  width: fit-content;
  background-color: rgb(84, 189, 93);
  border: 0.5px solid black;
  border-radius: 4px;
  height: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: rgba(12, 74, 232, 0.954);
  color: white;
  border: transparent;
}
